@font-face {
  font-family: 'PingFangSC-Light';
  src: url('~@/assets/fonts/PingFangSC-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('~@/assets/fonts/PingFangSC-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UyghurIniqka-Regular';
  src: url('~@/assets/fonts/UyghurIniqka-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}